*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;
    width: 100%;
    /* background-color: red; */
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}
.nav-part2 img{
    height: 100px;
    cursor: pointer;
}

.nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav>i{
    font-size: 20px;
    margin-right: 5px;
}
.nav h5{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    gap: 15px;
    cursor: pointer;
}
#line {
    height: 2px;
    width: 80px;
    background-color: red;
}


#content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    position: relative;
}
#left {
    width: 36%;
    height: 100%;
    /* background-color: orange; */
    padding: 80px 60px;
}
#right {
    width: 36%;
    height: 100%;
    padding: 260px 80px;
}
#center {
    width: 26%;
    height: 100%;
    /* background-color: red; */
    padding-top: 50px;
}

#left h1{
    font-size: 55px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 50px
}
#left h1 span{
    color: red;
    font-weight: 500;
}
#left p {
    font-size: 18px;
    width: 70%;
    margin-bottom: 50px;
    line-height: 24px;
}
#left button{
    font-size: 18px;
    background-color: red;
    border: none;
    border-radius: 50px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer
}
#left button i {
    margin-right: 10px;
}
#center-bg{
    background-color: blue;
    height: 90%;
    width: 100%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(coca-cola-led-signage.jpg);
    background-size: 450%;
    background-position: 40%, 40%;
    filter: blur(3px);
}

#right-elems{
    width: 250px;
}
#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #fff;
    opacity: 0.6;
}
#elem1 h1{
    font-size: 24px;
    font-weight: 600;
}
#elem1 i{
    font-size: 24px;
}
#elem2 h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top: 15px;
}
#elem2 p{
    font-size: 12px;
    width: 80%;
}

#content img{
    height: 98%;
    position: absolute;
    left: 36%;
}
