*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;
    width: 100%;
    /* background-color: red; */
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}
.nav-part2 img{
    height: 100px;
}

.nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.nav>i{
    font-size: 20px;
    margin-right: 5px;
}
.nav h5{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    gap: 15px;
}
#line {
    height: 2px;
    width: 80px;
    background-color: red;
}


#content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
}
#left {
    width: 36%;
    height: 100%;
    /* background-color: orange; */
    padding: 80px 60px;
}
#right {
    width: 36%;
    height: 100%;
    background-color: #fff;
}
#center {
    width: 28%;
    height: 100%;
    background-color: green;
}

#left h1{
    font-size: 55px;
    line-height: 55px;
}
#left h1 span{
    color: red;
}