*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow : hidden;
}

section{
    height: 33%;
    width: 100%;
}
h1{
    text-transform: uppercase;
}

.header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.top-content{
    padding: 113px;
    font-size: 1.4rem;
    margin-top: 68px;
}
.top-content div{
    margin-left: 3rem;
}

p{
    width: 40%;
    font-size: 5px;
}

.bottom-content{
    padding-left: 113px;
    font-size: 1.4rem;
    margin-left: 68px;
}